.contentwrapper{
    margin-left: 25% ;
    margin-right: 25%;
}

#information{
    background-color:white;
    width: 300px;
    height: 500px;
    margin: 20px 0px 0px 0px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6)
}

#thumbnail{
    background-color:black;
    width: 430px;
    height: 500px;
    margin: 20px 0px 0px 0px;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6)
}

#title {
    text-align: center;
    margin-top: 30px;
}

#price{
    text-align: center;
    margin-top: 20px;
}

#description{
    margin: 25px;
    height: 300px ;
    width: 250px ;
    background-color: rgb(245, 245, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6) inset;
    word-wrap: break-word;
}

#description h3{
    padding: 10px;
    text-align: center;
}

#description article{
    margin: 10px;
}

#information a{
    margin-left: 85px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-align: center;
    background-color: rgb(56, 204, 75);
    
}