.product_container{
    height: 330px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 8px 0px ;
    margin: 7px;
    float: left;
}
.product_container img{
    height: 260px;
    width: 250px;
    
}

.product_container div{
    border-top: 2px solid #dfdfdf;
    margin-left: 10px;
    margin-right: 10px;
}